<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Admin page</title>
</head>
<body class="text-center">
<div th:replace="fragments/menu :: menu"></div>
<br/>
<h1 class="font-monospace">Список усіх користувачів: </h1>
<br/>
<table class="table table-sm w-50 mx-auto">
    <tr>
        <th>Ім'я користувача</th>
        <th>Роль</th>
        <th>Змінити роль</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}">Username</td>
        <td th:text="${user.getRole()}">Role</td>
        <div th:if="${user.getRole() == 'ROLE_USER'}">
            <td>
                <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}">
                    <input type="submit" value="Змінити" class="btn btn-primary">
                </form>
            </td>
        </div>
        <div th:if="${user.getRole() != 'ROLE_USER'}">
            <td></td>
        </div>
    </tr>
</table>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>