<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Підтвердження запитів на бронювання</title>
</head>
<body class="text-center">
<div th:replace="fragments/menu :: menu"></div>
<br/>
<h1 class="font-monospace">Підтвердження запитів на бронювання</h1>
<br/>
<div th:if="${#lists.isEmpty(reservationsToConfirm)}">
    <h3 class="font-monospace">
        Нових запитів на бронювання не має
    </h3>
</div>
<div th:if="${not #lists.isEmpty(reservationsToConfirm)}" th:each="reservation : ${reservationsToConfirm}">
    <a th:text="${'Підтвердити бронювання № ' + reservation.getId()}"
       th:href="@{/admin/reservations/{id}(id=${reservation.getId()})}" class="btn btn-primary">
    </a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>