<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Редагувати профіль</title>
</head>
<body class="text-center">
<div th:replace="fragments/menu :: menu"></div>
<br/>
<div class="d-flex justify-content-center">
    <fieldset>
        <legend>Оновлення профілю</legend>
        <form th:method="PATCH" th:action="@{/profile/edit}" th:object="${person}">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}"></div>
            <div class="form-floating mb-3">
                <input type="text" th:field="*{username}" class="form-control form-control-sm" id="username"
                       placeholder="username" size="80">
                <label for="username">Ім'я користувача</label>
            </div>

            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('yearOfBirth')}"
                 th:errors="*{yearOfBirth}"></div>
            <div class="form-floating mb-3">
                <input type="text" th:field="*{yearOfBirth}" class="form-control form-control-sm" id="yearOfBirth"
                       placeholder="yearOfBirth">
                <label for="yearOfBirth">Рік народження</label>
            </div>

            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"></div>
            <div class="form-floating mb-3">
                <input type="email" th:field="*{email}" class="form-control form-control-sm" id="email"
                       placeholder="email">
                <label for="email">Електронна адреса</label>
            </div>

            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"></div>
            <div class="form-floating mb-3">
                <input type="password" th:field="*{password}" class="form-control form-control-sm" id="password"
                       placeholder="password">
                <label for="password">Пароль</label>
            </div>
            <input type="submit" value="Оновити профіль" class="btn btn-primary"/>
        </form>
    </fieldset>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>