<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>User profile</title>
</head>
<body class="text-center">
<div th:replace="fragments/menu :: menu"></div>
<br/>
<h1 class="font-monospace">Профіль користувача</h1>
<table class="table table-sw w-50 mx-auto">
    <tr>
        <td>Ім'я користувача: </td>
        <td th:text="${person.getUsername()}"></td>
    </tr>
    <tr>
        <td>Рік народження: </td>
        <td th:text="${person.getYearOfBirth()}"></td>
    </tr>
    <tr>
        <td>Поштова скринька: </td>
        <td th:text="${person.getEmail()}"></td>
    </tr>
</table>
<br/>
<form method="get" th:action="@{/profile/edit}">
    <input type="submit" value="Редагувати профіль" class="btn btn-primary">
</form>
<br/>
<form th:method="post" th:action="@{/logout}">
    <input type="submit" value="Вийти з акаунту" class="btn btn-primary">
</form>
<br/>
<div th:if="${#lists.isEmpty(person.getReservations())}">
    Ви не маєте жодного запиту на бронювання
</div>
<div th:if="${not #lists.isEmpty(person.getReservations())}">
    <h1 class="font-monospace">Список запитів на бронювання: </h1>
    <table class="table table-sm w-50 mx-auto">
        <tr>
            <th>Запити</th>
            <th>Статус</th>
        </tr>
        <tr th:each="reservation, i : ${person.getReservations()}">
            <td th:text="${'Запит на бронювання № ' + i.count}">Reservation #</td>
            <td>
                <div th:if="not ${reservation.getIsPayed()} == true">
                    <form th:method="PATCH" th:action="@{/reservations/{id}(id=${reservation.getId()})}">
                        <input type="submit" value="Сплатити" class="btn btn-primary">
                    </form>
                </div>
                <div th:if="${reservation.getIsPayed()} == true">
                    Запит сплачено
                </div>
            </td>
        </tr>
    </table>
</div>
<br/>
<div class="btn-group" th:if="${person.getRole() == 'ROLE_ADMIN' or person.getRole == ('ROLE_DEVELOPER')}">
    <a href="/admin" class="btn btn-primary active">Список користувачів</a>
    <a href="/admin/reservations" class="btn btn-primary">Замовлення на бронювання</a>
</div>
<br/>
<br/>
<div th:if="${person.getRole() == 'ROLE_DEVELOPER'}">
    <a href="/h2-console" class="btn btn-primary">Manage db</a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>