<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
<h1>User profile</h1>
<p th:text="${'Ім`я користувача: ' + person.getUsername()}">Username</p>
<p th:text="${'Рік народження: ' + person.getYearOfBirth()}"></p>
<p th:text="${'Почтова адреса: ' + person.getEmail()}">Email</p>
<p th:if="${person.getRole() == 'ROLE_ADMIN'}">
    <a href="/admin">Переглянути список користувачів</a>
</p>
<form th:method="post" th:action="@{/logout}">
    <input type="submit" value="Вийти з акаунту">
</form>
</body>
</html>