<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body class="text-center">
<div th:replace="fragments/menu :: menu"></div>
<br/>
<h1 class="font-monospace">Про нашу організацію</h1>
<div class="mx-auto w-50 alert alert-light" role="alert">
    <p>Коворкінг у самому серці Дніпра!</p>
    <p>Робочий простір для широкої аудиторії та відмінна інфраструктура для комфортної роботи:
        робочі місця для фрілансерів та всіх охочих, доступ до Wi-Fi, напоїв та багато іншого.</p>
    <p>Ми намагаємося бути найзатишнішим робочим простором, створюючи надихаючу атмосферу, поєднуючи людей та
        проекти.</p>
    <p>ДАВАЙТЕ ПОЧНЕМО НАШУ СПІВПРАЦЮ!</p>
    <p>Coworking Space – we love to work together!</p>
</div>
<div>
    <img src="/images/map.png" class="rounded"/>
</div>
<br/>
<br/>
<br/>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>