<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body class="text-center">
<div th:replace="fragments/menu :: menu"></div>
<br/>
<h1 class="font-monospace">Тарифи</h1>
<div class="alert alert-success mx-auto w-50" role="alert">
    <h4 class="alert-heading">Ранковий</h4>
    <hr/>
    <p>
        Ранковий тариф включає в себе: фіксоване робоче місце, можливість використовувати пристрої організації
        (принтери, сканери тощо), Wi-Fi, безлімітні чай, кава, печиво та невеличка кухня для розігрівання їжі.
    </p>
    <p>
        Орендований час: з 8:00 - 13:00
    </p>
    <div>
        Ціна: 500 грн
    </div>
</div>
<div class="alert alert-success mx-auto w-50" role="alert">
    <h4 class="alert-heading">Вечірній</h4>
    <hr/>
    <p>
        Вечірній тариф включає в себе: фіксоване робоче місце, можливість використовувати пристрої організації
        (принтери, сканери тощо), Wi-Fi, безлімітні чай, кава, печиво та невеличка кухня для розігрівання їжі.
    </p>
    <p>
        Орендований час: з 13:00 - 18:00
    </p>
    <div>
        Ціна: 500 грн
    </div>
</div>
<div class="alert alert-success mx-auto w-50" role="alert">
    <h4 class="alert-heading">Денний</h4>
    <hr/>
    <p>
        Денний тариф включає в себе: фіксоване робоче місце, можливість використовувати пристрої організації
        (принтери, сканери тощо), Wi-Fi, безлімітні напої (чай, кава, печиво), невеличка кухня для розігрівання їжі
        та кімната відпочинку зі зручними диванами.
    </p>
    <p>
        Орендований час: з 8:00 - 18:00
    </p>
    <div>
        Ціна: 400 грн
    </div>
</div>
<br/>
<br/>
<br/>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>