<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body class="text-center">
<div th:replace="fragments/menu :: menu"></div>
<br/>
<h1 class="font-monospace">Топ-5 робочих місць</h1>
<br/>
<div class="card mb-3 mx-auto" style="max-width: 540px;" th:each="rate, i : ${rating}">
    <div class="row g-0">
        <div class="col-md-4">
            <img th:src="@{${rate.getWorkPlace().getImgUrl()}}" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" th:text="${rate.getWorkPlace.getItemName()}">Card title</h5>
                <p class="card-text" th:text="${'Топ: ' + i.count}">Top place</p>
                <p class="card-text" th:text="${'Кількість орендарів: ' + rate.getNumberOfUsing()}">Number of using</p>
                <a th:href="@{/workPlaces/{id}/reservation(id=${rate.getWorkPlace().getId()})}" class="btn btn-primary">Забронювати</a>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>