<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<footer class="fixed-bottom p-3 bg-body-tertiary" th:fragment="footer">
    <span class="text-muted">
        Наші соціальні мережі:
        <a href="https://www.instagram.com/vpoltavets02/" class="link-underline link-underline-opacity-0"
           target="_blank">Instagram</a>
        та
        <a href="https://uk-ua.facebook.com/" class="link-underline link-underline-opacity-0"
           target="_blank">Facebook</a>
    </span>
</footer>
</body>
</html>