<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
</head>
<body class="text-center">
<div th:replace="fragments/menu :: menu"></div>
<br/>
<h1 sec:authorize="isAnonymous()" class="font-monospace">Вітаємо на нашому сайті</h1>
<h1 sec:authorize="isAuthenticated()" th:text="${'Ласкаво просимо, ' + user.getUsername()}"
    class="font-monospace"></h1>
<br/>
<div th:replace="fragments/carousel :: carousel">Carousel</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>