<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Забронювати місце</title>
</head>
<body>
<h1>Забронювати місце</h1>
<form method="post" th:action="@{/workPlaces/{id}/reservation(id=${workPlace.getId()})}"
      th:object="${reservation}">
    <label for="rent_date">День оренди:</label>
    <input type="date" id="rent_date" th:field="*{rentDay}"/><br/>
    <label for="time">Оберіть бажаний час оренди: </label>
    <input type="radio" id="time" th:field="*{time}" value="first"/> Перша половина дня (8 - 13)<br/>
    <input type="radio" id="time" th:field="*{time}" value="second"/> Друга половина дня (13 - 18)<br/>
    <input type="radio" id="time" th:field="*{time}" value="full"/> Цілий день (8 - 18)<br/>
    <input type="submit" value="Забронювати"/>
</form>
</body>
</html>